RAILS_ENV=production
RAILS_MASTER_KEY=copy-from-config-master-key-or-credentials-store
SECRET_KEY_BASE=generate-with-bin-rails-secret
HOST=frank-type.local
FORCE_SSL=false
ASSUME_SSL=false
SOLID_QUEUE_IN_PUMA=true
